.footer_parent_div {
  /* padding: 10px; */
  color: white;
  /* background: url("../../accets/FooterPhoto/footerBg.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  background-color: rgb(0, 0, 0);
}
.footer_grid_div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 75%;
  margin: auto;
  padding-top: 50px;
  margin-bottom: 50px;
}
.footer_blank_div {
  height: 1px;
  width: 85%;
  margin: auto;
  background-color: white;
  margin-top: -20px;
  margin-bottom: 30px;
}
.footer_copyright_div {
  background-image: url("../../accets/FooterPhoto/footerBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-bottom: 10px;
}

@media screen and (max-width: 860px) {
  .footer_grid_div {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 580px) {
  .footer_grid_div {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 370px) {
  .footer_grid_div {
    grid-template-columns: repeat(1, 1fr);
  }
}
